body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    margin-left: 10px;
    margin-right: 1rem;
}

select {
    padding: 5px;
}

hr {
  border: 6px solid rgb(143, 143, 143);
  border-radius: 5px;
  justify-content: center;
}

button {
    width: 9px;
    height: 10px;
}

